@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// custom properties
:root
{
    --primary-color : rgb(45, 104, 192);
}

body {
    background: #c1c1c7;
    margin: 0;
    font-family: 'Poppins';
}

.navbar {
    background: white;
    padding : 1em; 

    .logo{
        text-decoration: none;
        font-weight: bold;
        color : black;
        font-size : 1.2em;

        span{
            color : var(--primary-color)
        }
    }

    nav{ // 화면에 어떻게 보이게 할지 설정 , 작은 화면일 때 nav 설정
       display: none;
    }
    .container{ // menu 아이콘 설정
        display: flex;
        place-content: space-between;
    }
    
    .mobile-menu{
        cursor:pointer
    }

}
 

a{
    color : #444444;
}

ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}

section{
    padding : 5em 2em; // 12시 ->3시->6시 -> 9시, 방향 순으로 적기
}

.hero{
    text-align : center;
}

.left-col{
    
    .subhead{
        text-transform : uppercase;
        font-weight: bold;
        color: gray;
        letter-spacing: .2em;
    }

    h1{
        font-size: 2.5em;
        line-height: 1.2em;
        margin-top:0.4em;

    }

    .primary-cta{
        background: var(--primary-color);
        color:white;
        text-decoration: none;
        padding:.6em 1.3em;
        font-size: 1.4em;
        border-radius: 5em;
        font-weight: bold;
        display: inline-block; // 한줄 매치 + margin ,padding 조절 가능

    }

    .watch-video-cta{
        display: block;
        margin-top : 1em; 

        img{
            margin-right: .5em;
        }
    //https://likelion-kgu.tistory.com/27 margin과 padding의 차이
    }

} 

.hero-img{
    width : 47%;
    margin-top : 2em;
}

section.features-section{ // 더 명확한 경로를 적어두면 혼동이 줄어든다
    background: #3c4349;
    color:white
}

ul.features-list{
    margin : 10;
    padding-left: .1em ;
    display :grid;
    grid-template-columns: repeat(auto-fit,minmax(19rem,1fr)); // 브라우저 해상도에 따라서 column 변경

    li{
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;  
        position: relative; // 글자 기준 위치 설정
     
        &:before{ // pseudoSelector
          content:'';
          left: -2em;
          position: absolute; // 글자 위치를 기준으로하여 조절
          width :20px;
          height: 20px;
          background-image: url('../images/bullet.svg');
          background-size: contain;
          margin-right: .5em;
  
      }
  
      }  

}

.features-section img{ // '.'과 ' '(띄어쓰기) 차이 알아내기
    display: none;
}


.testimonials-section{
    background: var(--primary-color);
    color:white;

        li{
            background: #2487ce;
            text-align: center;
            padding: 2em 1em;
            width :80%;
            margin:0 auto 5em auto;
            border-radius: 1em ; // 둥글게 각지게


           img{
            width : 10em;
            height: 10em;
            border:5px solid #2487ce;
            border-radius:50%;
            margin-top: -4.5em
           }

           cite{
            font-size:1.5em;
            font-weight: bold;
           }

            
    
    }
}


h2{
    font-size:2em;
}

label{
    display:block;
    font-size:1.2em;
    margin-bottom: 0.5em;
}

input,textarea{
    width:100%;
    padding:.8em;
    margin-bottom:1em;
    border-radius:.3em;
    border:1px solid gray;
    box-sizing:border-box; // https://developer.mozilla.org/ko/docs/Web/CSS/box-sizing
}

 input[type="submit"]{ // https://devopedia.org/css-selectors
    background-color : var(--primary-color);
    color:white;
    font-weight:bold;
    font-size:1.3em;
    border:none;
    margin-bottom:5em;
    border-radius:5em;
    
    display:inline-block;
    padding: .8em 2em;
    width:unset;
    cursor:pointer;
 }

 iframe{
     width:100%;
     height:300px;
 }

 nav.menu-btn{
    display: block;
}

nav{
    position:fixed;
    z-index:999; // 가장 겉에 뜨게하는 우선순위
    width:66%;
    right:0;
    top:0;
    background: #20272E;
    height:100vh;
    padding:1em;

    ul.primary-nav{
        margin-top:5em;
    }

    li{
         a{
             color:white;
             text-decoration: none;
             display:block;
             padding:.5em;
             font-size:1.3em;
             text-align:right; 

            &:hover{
                font-weight: bold;
              
            }

         }
    }

}

.mobile-menu-exit{
    float:right;
    margin:.5em;
    cursor: pointer;
}


@media only screen and (min-width:768px){ // width가 최소 768이상 이라면 

    .mobile-menu , .mobile-menu-exit{
        display: none;
    }

.navbar .container{ // <class="container> 클래스 접근시 . 붙힘
display: grid; // flex와 grid 차이 https://studiomeal.com/archives/533
grid-template-columns: 180px auto;
justify-content: unset;
}

.navbar nav{ // <nav> 태그 접근 . 없음
    display: flex; // https://studiomeal.com/archives/197
    justify-content: space-between;
    background: none;
    position :unset;
    height : auto;
    width:100%;
    padding:0;

    ul{
        display: flex;
    }

    a{
        color: black;
        font-size : 1em;
        padding : .1em 1em;
    }

    ul.primary-nav{
        margin:0;
    }

    li.current a{
        font-weight : bold;
    }

    li.go-premium-cta a { // class="go-premiun-cta"  오타
        color: var(--primary-color);
        border : 3px solid var(--primary-color);
        font-weight : bold;
        border-radius : 5em;
        margin-top:-.2em;

        &:hover{
            background:  var(--primary-color);
            color:white;

        }

    }
}

}


@media only screen and (min-width:1080px){

    .container{
        width:1080px;
        margin: 0 auto;
    }

section{
    padding:10em 4em;
}

.hero .container{// overriding 하였는데 생각할 것

    display: flex;
    justify-content: space-between;
    text-align: left; 

    .left-col{
        margin: 3em 3em 0  5em;
    }

    h1{
        font-size:3em;
        width:90%;
    }

}

.hero-img{
    width:40%;
    margin-right: 8em;
}

.hero-cta{ // cta : ​Call To Action
    display:flex;
}

.primary-cta{
    margin-right:1em;
}

ul.features-list{
    display:block;
    margin-left:5em;

    li{
        font-size:1.4em;

        &:before{ // https://goddino.tistory.com/43
            width:30px;
            height: 30px;
        }
    }
}

.features-section{
    position : relative;
}

.features-section img
{
    display:block;
    position: absolute;
    right:0;
    width:350px;
    bottom:-2em;
}

.testimonials-section ul{
    display: flex;
    
    li{
        margin : 0 1em;
    }

}

.contact-section{
    position: relative;

    .container{
        display: flex;
    }

}


.contact-right { // https://developer.mozilla.org/ko/docs/Web/CSS/position
    position: absolute; // relative로 헷갈림
    right: 0;
    top:0;
    width: 45%;
    height: 100%;


    iframe{
       height: 100%;
    }

}


}

@media only screen and (min-width:1450px){

    .features-section{

        &:before{
            content:'';
            position: absolute;
            width:10%;
            height: 20em;
            background: var(--primary-color);
            left:0;
            top:-4em;
        }

        &:after{
            content:'';
            position: absolute;
            width:200px;
            height: 20em;
            background: url('../images/dots.svg') no-repeat;
            left:10.3em;
            top:2em;
        }

    }

}
