#apple-el{
    background: rgb(255, 95, 95);
    padding: 0em 3em;
    text-align: center;
    width: 20em;
    border-radius: 0.5em;

}


#orange-el{
    background: rgb(248, 164, 9);
    padding: 0em 3em;
    text-align: center;
    width: 20em;
    border-radius: 0.5em;

}