button {
    border: none;
    padding: 10px 0 10px 0;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
  }


#increament-btn{
  background: brown;
}

#save-btn{
  background: green;
}